@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100vw;
  overflow-x: hidden;
}

body #app {
  width: 100%;
  position: relative;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fff;
  color: #243a6f;
  position: relative;
  z-index: 1;
}

h1,h2,h3,h4 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

.color-white {
  color: white;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

input, select, button, textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

.btn-1, .btn-2 {
  border: 1px solid #243a6f;
  font-family: inherit;
  font-weight: 500;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.btn-1 {
  background-color: #243a6f;
  color: #fff;
}

.btn-2 {
  background-color: transparent;
  color: #243a6f;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.container-md {
  max-width: 100rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}